* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    position: fixed;
    background-color: grey;
    width: 100vw;
    height: 5vh;
    text-align: center;
    top: 0;
    border-bottom: solid 1px white;
}

header div {
    margin-top: 10px;
}

header p {
    display: inline;
    color: white;
    padding: 10px;
}

.menu-lateral {
    position: fixed;
    top: calc(5vh + 1px);
    left: 0;
    width: 20vw;
    height: 100%;
    background-color: gray;
}

.menu-lateral p {
    color: white;
    padding: 10px;
}

.content {
    margin-left: 20vw;
    padding: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: gray;
    width: 100vw;
    height: 5vh;
    text-align: center;
}

footer div {
    padding: 10px;
}

footer p{
    display: inline;
    color: white;
}