.menu {
    float: left;
    position: absolute;
    width: 20%;
    height: 100vh;
    background-color: #3b5998;
    color: white;
    top: 0;
    left: 0;
}

.menu p {
    padding-left: 20px;
}

.menu p:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.conteudo {
    float: right;
    position: relative;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
}

.texto {
    position: fixed;
    top: 40%;
    left: 40%;
    text-align: center;
    margin: 0;
}